.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .prev,
  .next {
    padding: 10px 20px; 
    border-radius: 20px; 
    border: 2px solid #555; 
    background-color: #fff;
    color: #555;
    font-size: 16px; 
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    margin-bottom: 30px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #555; 
    color: #fff;
    border-color: #999; 
  }
  
  .prev {
    margin-right: 20px;
  }
  
  .next {
    margin-left: 20px;
  }
    
    
    
    