.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ddd;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .select {
    display: flex;
    align-items: center;
  }
  
  .select select {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
  }
  
  .searchBar input {
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .searchBar button {
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #999;
    color: #fff;
    cursor: pointer
  }
  
  .buttonContainer {
    display: flex;
    align-items: center;
  }
  
  .newButton {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #999;
    color: #fff;
    cursor: pointer;
  }
  
  .searchBar button:hover {
    background-color: #555;
    color: #fff;
  }

  .newButton:hover {
    background-color: #555;
    color: #fff;
  }